/* app css stylesheet */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.header {
  margin-bottom: 10px;
  border-bottom: darkgray 1px solid;
}

.logo {
  width: 200px;
}

.pagination {
  text-align: center;
}

.sort-ascent:before {
  content: "\25BE";
}

.sort-descent:before {
  content: "\25B4";
}

ul.breadcrumb {
  margin: 0 0 0;
}

.page-header {
  margin: 0 0 0;
  border-bottom: 0px;
}

.summaryButton {
  margin-bottom: 10px;
}

.schedulingStatus {
  border-bottom: 1px #aaaaaa dashed;
}

.bottomRight {
  bottom: 10px;
  right: 10px;
  position: fixed;
}

.groupSummary {
  float: left;
  white-space: nowrap;
  overflow: hidden;
}

.activeGroup {
  margin-top: 10px;
}

.activeGroup .unstyled {
  padding: 1em;
}

.instanceGroups:after, .visibleGroups:after{
  clear: both;
  content: "";
  display: block;
}

.groupLabel {
  padding: 0.5em 1em;
  border-right: 1px dashed white;
  color: white;
  cursor: pointer;
  font-size: 12px;
  display: block;
}

.groupLabel:hover, .groupLabel:active {
  color: white;
}

.groupSummary:last-of-type .groupLabel {
  border-right: 0;
}

.groupHeader {
  color: white;
  padding: 0.5em 1em;
}

.configDetails {
  width: 350px;
  font-size: 12px;
}

.configDetails td {
  padding: 3px 8px;
}

.configDetails .cellLabel {
  font-weight: bold;
}

.visibleGroups {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visibleGroups li {
  padding: 0;
  margin-right: 5px;
  float: left;
}