# SYNTAX NOTE: dist/ will ignore any directory named dist. Use dist/* to ignore dist in project root.
*.iml
*.ipr
*.iws
*.pyc
*~
/.coverage
/.gradle/*
/.idea/*
/.pants.*
/.vagrant/*
/build/*
/build-support/*.pex
/build-support/*.venv
/build-support/python/*.venv
/build-support/virtualenv-*
/dist/*
/gradle-app.setting
/out/*
/third_party/*
