*.box
*.iml
*.ipr
*.iws
*.pyc
*~
*bundle.js*
*.svg
.gradle
/.cache/
/.coverage
/.idea/
/.settings/
/.classpath/
/.project/
/.pants.*
/.pids/
/.vagrant/
/api/dist/
/api/out/
/atlassian-ide-plugin.xml
/build-support/*.pex
/build-support/*.venv
/build-support/python/*.venv
/build-support/virtualenv-*
/build/
/buildSrc/build/
/buildSrc/dist/
/commons-args/dist/
/commons-args/out/
/commons/dist/
/commons/out/
/dist/
/gradle-app.setting
/out/
/requirements.txt
/third_party/
/ui/dist/
/ui/node_modules/
/ui/out/
