*.iml
*.ipr
*.iws
*.pyc
*~
.coverage
.gradle/
.pants.*
.vagrant/
build/
build-support/rbtools/
build-support/virtualenv-*
build-support/make-python-sdists.virtualenv
dist/
gradle-app.setting
out/
pants.pex
third_party/
