<div class='row'>
  <ul class='breadcrumb'>
    <li><a href='/scheduler'>Home</a></li>

    <li ng-if='role && !environment' class='active'>Role: {{role}}</a></li>
    <li ng-if='role && environment'><a href='/scheduler/{{role}}'>Role: {{role}}</a></li>

    <li ng-if='environment && !job' class='active'>Environment: {{environment}}</li>
    <li ng-if='environment && job'>
      <a href='/scheduler/{{role}}/{{environment}}'>Environment: {{environment}}</a>
    </li>

    <li ng-if='job' class='active'>Job: {{job}}</li>
  </ul>
</div>
