<div>
  <div ng-show='error'>
    <error/>
  </div>

  <div ng-hide='error'>
    <div class='container-fluid'>
      <div>
        <breadcrumb/>
      </div>

      <div class='container-fluid'>
        <div class='page-header'>
          <h2 class='text-center'>
            Job <em>{{job}}</em> in role <em>{{role}}</em> and environment <em>{{environment}}</em>
            <span ng-if='jobDashboardUrl'>
            <a class='dashboard-url' ng-href='{{jobDashboardUrl}}'
               title='Container stats for this job'>
              <i class='glyphicon glyphicon-stats'></i>
            </a>
            </span>
          </h2>
        </div>
      </div>

      <div ng-controller='CronJobSummaryController'>
        <div ng-show='error'>
          <error/>
        </div>

        <div ng-hide='error'>
          <div class='container-fluid'>
            <div ng-if='cronJobSummary'>
              <h3>Cron Job Summary</h3>

              <div>
                <smart-table config='cronJobSummaryTableConfig'
                             columns='cronJobSummaryTableColumns'
                             rows='cronJobSummary'
                             class='table table-striped table-hover table-bordered table-condensed'>
                </smart-table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <tabset justified='true'>
        <tab heading='Active tasks ({{activeTasks.length}})' title='All Active tasks for this job.'>
          <div class='task-tab'>
            <div class='group-summary'>
              <group-summary groups='groupSummary'></group-summary>
            </div>
            <div class='container-fluid'>
              <smart-table config='activeTasksTableConfig'
                           columns='activeTasksTableColumns'
                           rows='activeTasks'
                           class='table table-striped table-hover table-bordered table-condensed'>
              </smart-table>
            </div>
          </div>
        </tab>

        <tab heading='Completed tasks ({{completedTasks.length}})'
             title='All completed tasks for this job.'>
          <div class='task-tab container-fluid completed-tasks-tab'>
            <smart-table config='completedTasksTableConfig'
                         columns='completedTasksTableColumns'
                         rows='completedTasks'
                         class='table table-striped table-hover table-bordered table-condensed'>
            </smart-table>
          </div>
        </tab>

        <tab heading='All tasks' title='Both active and completed tasks for this job.'>
          <div class='task-tab'>
            <div class='group-summary'>
              <group-summary groups='groupSummary'></group-summary>
            </div>

            <div class='container-fluid'>
              <h3>Active Tasks</h3>
              <smart-table config='activeTasksTableConfig'
                           columns='activeTasksTableColumns'
                           rows='activeTasks'
                           class='table table-striped table-hover table-bordered table-condensed'>
              </smart-table>
            </div>

            <div class='container-fluid'>
              <h3>Completed Tasks</h3>
              <smart-table config='completedTasksTableConfig'
                           columns='completedTasksTableColumns'
                           rows='completedTasks'
                           class='table table-striped table-hover table-bordered table-condensed'>
              </smart-table>
            </div>
          </div>
        </tab>
      </tabset>

      <div class='container-fluid'>
        <a class='bottomRight' ng-click='toggleTaskInfoLinkVisibility()'>π</a>
      </div>
    </div>
  </div>
</div>
