<task-status>
  <div>
    <span title='{{formatedValue | scheduleStatusTooltip}}'>
      <span ng-if='!showDetails'><i class='glyphicon glyphicon-plus'></i></span>
      <span ng-if='showDetails'><i class='glyphicon glyphicon-minus'></i></span>
      <span>
        {{dataRow.latestActivity | toElapsedTime}} ago -
        <span class='schedulingStatus'>{{formatedValue}}</span>
        <span ng-if='dataRow.statusMessage'>: {{dataRow.statusMessage}}</span>
      </span>
    </span>

    <ul ng-if='showDetails'>
      <li ng-repeat='taskEvent in dataRow.taskEvents'>
        {{taskEvent.date}} local -
        <span title='{{taskEvent.status | scheduleStatusTooltip}}'>
          <span class='schedulingStatus'>{{taskEvent.status}}</span>
        </span>
        <span ng-if='taskEvent.message'> - {{taskEvent.message}}</span>
      </li>
    </ul>
  </div>
</task-status>