/* Layout Colors */
$main_bg_color: rgba(0, 0, 0, 0.02);
$content_box_color: #FFF;
$main_contrast_color: #222;
$grid_color: #EEE;
$grid_highlight_color: #DDD;

$primary_font_color: #222;
$secondary_font_color: #999;

$success_color: #74C080;
$success_secondary_color: #afe8b8;

$error_color: #d63c39;
$error_secondary_color: rgb(230, 101, 98);
