<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.aurora.scheduler.storage.db.AttributeMapper">
  <cache type="org.apache.aurora.scheduler.storage.db.MyBatisCacheImpl">
    <property name="size" value="50000"/>
  </cache>
  <insert id="insert">
    INSERT INTO host_attributes (
      host,
      mode,
      slave_id
    ) VALUES (
      #{host},
      #{mode, typeHandler=org.apache.aurora.scheduler.storage.db.typehandlers.MaintenanceModeTypeHandler},
      #{slaveId}
    )
  </insert>

  <insert id="insertAttributeValues">
    INSERT INTO host_attribute_values (
      host_attribute_id,
      name,
      value
    ) VALUES
    <foreach item="attribute" collection="attributes" separator=",">
      <foreach item="value" collection="attribute.values" open="(" separator="),(" close=")">
        (SELECT id FROM host_attributes WHERE slave_id = #{slaveId}),
        #{attribute.name},
        #{value}
      </foreach>
    </foreach>
  </insert>

  <delete id="deleteAttributeValues">
    <!-- This assumes the schema enables cascading deletes in the values table. -->
    DELETE FROM host_attribute_values
    WHERE host_attribute_id IN (SELECT id FROM host_attributes WHERE host = #{host})
  </delete>

  <update id="updateHostModeAndSlaveId">
    UPDATE host_attributes SET
      mode = #{mode, typeHandler=org.apache.aurora.scheduler.storage.db.typehandlers.MaintenanceModeTypeHandler},
      slave_id = #{slaveId}
    WHERE host = #{host}
  </update>

  <resultMap id="hostAttributeResultMap" type="org.apache.aurora.gen.HostAttributes">
    <id column="a_id" />
    <result property="mode"
            column="a_mode"
            typeHandler="org.apache.aurora.scheduler.storage.db.typehandlers.MaintenanceModeTypeHandler" />
    <result property="host" column="a_host" />
    <result property="slaveId" column="a_slave_id" />
    <collection property="attributes" ofType="org.apache.aurora.gen.Attribute" columnPrefix="v_">
      <id column="name" property="name" />
      <collection property="values" ofType="String">
        <result column="value" />
      </collection>
    </collection>
  </resultMap>

  <sql id="unscoped_select">
    SELECT
      a.id AS a_id,
      a.host AS a_host,
      a.mode AS a_mode,
      a.slave_id AS a_slave_id,
      v.id AS v_id,
      v.name AS v_name,
      v.value AS v_value
    FROM host_attributes as a
    // Left outer join since a host attribute may have an empty set of values (no matching rows).
    LEFT OUTER JOIN host_attribute_values AS v ON v.host_attribute_id = a.id
  </sql>

  <select id="select" resultMap="hostAttributeResultMap">
    <include refid="unscoped_select"/>
    WHERE host = #{host}
  </select>

  <select id="selectAll" resultMap="hostAttributeResultMap">
    <include refid="unscoped_select"/>
  </select>

  <delete id="truncate">
    DELETE FROM host_attributes
  </delete>
</mapper>
