<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.aurora.scheduler.storage.db.EnumValueMapper">
  <insert id="addEnumValue">
    MERGE INTO ${table} (
      id,
      name
    ) VALUES (
      #{id},
      #{name}
    )
  </insert>
</mapper>
