<?xml version="1.0" encoding="UTF-8" ?>
<!--
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
 -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.aurora.scheduler.storage.db.MigrationMapper">
  <update id="bootstrapChangelog">
    CREATE TABLE IF NOT EXISTS changelog (
      id BIGINT NOT NULL PRIMARY KEY,
      applied_at VARCHAR(25) NOT NULL,
      description VARCHAR(255) NOT NULL,
      downgrade_script BLOB NULL,

      UNIQUE(id)
    );
  </update>

  <update id="saveDowngradeScript">
    UPDATE changelog
    SET downgrade_script = #{downgradeScript}
    WHERE id = #{changeId}
  </update>

  <resultMap
      id="changelogResultMap"
      type="org.apache.aurora.scheduler.storage.db.views.MigrationChangelogEntry">

  </resultMap>

  <select id="selectAll" resultMap="changelogResultMap">
    SELECT
      id,
      downgrade_script
    FROM changelog
    ORDER BY id DESC
  </select>

  <delete id="delete">
    DELETE FROM changelog
    WHERE id = #{changeId}
  </delete>
</mapper>
