<?xml version="1.0" encoding="UTF-8" ?>
<!--
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
 -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.aurora.scheduler.storage.db.QuotaMapper">
  <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="result.id">
    INSERT INTO quotas (
      role,
      num_cpus,
      ram_mb,
      disk_mb
    ) VALUES (
      #{role},
      #{quota.numCpus},
      #{quota.ramMb},
      #{quota.diskMb}
    )
  </insert>

  <insert id="insertResources">
    INSERT INTO quota_resource (
      quota_id,
      type_id,
      value
    ) VALUES (
    <foreach index="type" item="value" collection="values" separator="),(">
      #{quotaId},
      #{type},
      #{value}
    </foreach>
    )
  </insert>

  <resultMap id="quotaMap" type="org.apache.aurora.scheduler.storage.db.views.DBResourceAggregate">
    <id column="id" />
    <collection
        property="resources"
        columnPrefix="qr_"
        resultMap="org.apache.aurora.scheduler.storage.db.TaskConfigMapper.resourceMap"/>
  </resultMap>

  <resultMap id="quotaResultMap" type="org.apache.aurora.scheduler.storage.db.views.DBSaveQuota">
    <id column="id" />
    <association property="quota" resultMap="quotaMap" />
  </resultMap>

  <sql id="unscopedSelect">
    SELECT
      q.id,
      q.role,
      q.num_cpus,
      q.ram_mb,
      q.disk_mb,
      qr.id as qr_id,
      qr.type_id as qr_type_id,
      qr.value as qr_value
    FROM quotas AS q
    INNER JOIN quota_resource AS qr ON qr.quota_id = q.id
  </sql>

  <select id="select" resultMap="quotaMap">
    <include refid="unscopedSelect"/>
    WHERE role = #{id}
  </select>

  <select id="selectAll" resultMap="quotaResultMap">
    <include refid="unscopedSelect"/>
  </select>

  <delete id="delete">
    DELETE FROM quotas
    WHERE role = #{id}
  </delete>

  <delete id="truncate">
    DELETE FROM quotas
  </delete>
</mapper>
