{
  // babel parser to support ES features
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "env": {
    "jest": true
  },
  "globals": {
    "ACTIVE_STATES": true,
    "ACTIVE_JOB_UPDATE_STATES": true,
    "CronCollisionPolicy": true,
    "JobKey": true,
    "JobUpdateAction": true,
    "JobUpdateKey": true,
    "JobUpdateQuery": true,
    "JobUpdateStatus": true,
    "ReadOnlySchedulerClient": true,
    "ScheduleStatus": true,
    "TaskQuery": true,
    "Thrift": true
  },
  "plugins": [
    "chai-friendly"
  ],
  "rules": {
    "arrow-parens": [2, "always"],
    // not covered in standard
    "no-var": 2,
    "prefer-const": 2,
    // overrides of the standard style
    "curly": [2, "all"],
    "max-len": [2, 100, 4],
    "semi": [2, "always"],
    "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
    "wrap-iife": [2, "outside"],
    // overrides of the standard-react style
    "react/jsx-sort-props": 2,
    "react/prop-types": 0,
    "react/sort-prop-types": 2,
    "camelcase": [2, {"properties": "never"}],
    // deals with the chai expression problem
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2
  }
}
